:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
html {
  height: 100%;
}
body {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
a {
  text-decoration: none;
  color: gray;
}
ul,
ol,
li {
  list-style: none;
}

h1,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
}

.bg-light {
  background-color: rgb(239, 241, 245) !important;
}
.nav-link {
  color: gray;
}
.logo {
  width: 55px;
  margin-left: 80px;
}
h1 {
  margin-top: 50px;
  font-size: 48px;
  font-weight: 500;
  padding-bottom: 25px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.mountains_img,
.yogurt_img,
.weather_img {
  max-width: 250px;
}
.main_container {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}
.main_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 280px;
  height: auto;
  background: rgb(225, 209, 243);
  display: flex;
  flex-direction: column;
  flex: 1 1 20rem;
  margin: 10px 20px;
  align-self: normal;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 10px 20px;
  transition: all 0.3s ease-in;
}

.card h3 {
  padding: 20px 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-shadow: 1px 0px 2px #22652654;
}
.card .btn {
  display: inline-block;
  background: #6c63ff;
  color: #f5f2fe;
  margin-top: auto;
  text-align: center;
  color: white;
  border-radius: 5px;
}

.card:hover {
  background: #f32ace;
  color: rgb(92, 85, 85);
  box-shadow: 0px 0px 11px 5px #6c63ff;
}

.nav-link:hover {
  text-decoration: underline;
  font-weight: 500;
  color: #6c63ff;
}
.navbar-brand {
  margin-left: 73px;
}

@media (min-width: 360px) {
  ul.nav {
    margin-right: 0px;
    margin-left: 0px;
  }
}
.nav-item {
  font-size: 18px;
}
@media (max-width: 1220px) {
  .nav-item {
    font-size: 15px;
  }
  .navbar-brand {
    margin-left: 14px;
  }
}
@media (min-width: 360px) {
  .nav-item {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .logo {
    display: none;
  }
}
.footer {
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: rgb(239, 241, 245);
  color: white;
  margin-top: auto;
}
.icons {
  display: flex;
  position: relative;
}
.icon1,
.icon2,
.icon3,
.icon4 {
  margin-right: 20px;
  color: gray;
  font-size: larger;
}
.follow {
  color: gray;
  margin-right: 60px;
}
