/*font-family: 'Poppins', sans-serif*/
:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
a {
  text-decoration: none;
  color: gray;
}
ul,
ol,
li {
  list-style: none;
}

h1,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
}
h1 {
  padding-top: 50px;
  font-size: 48px;
  color: black;
}
h3 {
  padding-top: 20px;
  padding-bottom: 30px;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header_container {
  width: 100%;
}
.links {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.contact-link {
  border: 1px solid blue;
  margin-right: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  text-decoration: none;
}
.about-link {
  border: 1px solid blue;
  margin-right: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
  text-decoration: none;
}
.mountain {
  text-align: left;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.primary-link {
  background-color: #6c63ff;
  border-radius: 4px;
  padding: 20px 15px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.primary-link:hover {
  border: 1px solid #6c63ff;
  background: #f5f2fe;
  transition: 1s;
}

.pages {
  display: flex;
  justify-content: center;
}
.page1,
.page2,
.page3 {
  margin-right: 20px;
}
.footer {
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: rgb(239, 241, 245);
  color: white;
}
.icons {
  display: flex;
  position: relative;
}
.icon1,
.icon2,
.icon3,
.icon4 {
  margin-right: 20px;
  color: gray;
  font-size: larger;
}
.follow {
  color: gray;
  margin-right: 60px;
}
.bg-light {
  background-color: rgb(239, 241, 245) !important;
}
.nav-link {
  color: gray;
}
